*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 300;
}
h1{
    text-align: center;
    margin: 20px 0;
    color: #333;
}